<nav>
</nav>

<main>
  <label for="toggle" id="toggle-menu"></label>
  <input name="toggle" id="toggle">
  <header>
    <dl>
      <dt>All Todos</dt>
      <dd>0</dd>
    </dl>
  </header>
  <a href="#"  id="add-todo">Add new todo</a>
  <div id="items">
    <table>
    </table>
  </div>
  <div id="todo-form">
  </div>
</main>
